@(message: String, clubForm: Form[Club])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Clubs.save(), 'class -> "form-horizontal") {

        @inputText(clubForm("id"), '_label -> "Id")
        @inputText(clubForm("code"), '_label -> "Code FFF")
        @inputText(clubForm("name"), '_label -> "Nom")

        <div class="form-actions">
            <input type="submit" value="Save this club" class="btn btn-primary"> or
            <a href="@routes.Clubs.list()" class="btn">Cancel</a>
        </div>

    }
}