@(message: String, clubForm: Form[Club])

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Clubs.save(), 'class -> "form-horizontal") {

        @inputText(clubForm("id"), '_label -> "Id")
        @inputText(clubForm("code"), '_label -> "Code FFF")
        @inputText(clubForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this club")
            @btnCancel(routes.Clubs.list())
        </div>

    }
}