@(message: String, id: Long, clubForm: Form[Club])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Clubs.update(id), 'class -> "form-horizontal") {

        @inputText(clubForm("id"), '_label -> "Id")
        @inputText(clubForm("code"), '_label -> "Code FFF")
        @inputText(clubForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this club")
            @btnView(routes.Clubs.view(id))
            @btnCancel(routes.Clubs.list())
            @btnNew(routes.Clubs.create())
        </div>

    }
}