@(message: String, id: Long, clubForm: Form[Club])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Clubs.update(id), 'class -> "form-horizontal") {

        @inputText(clubForm("id"), '_label -> "Id")
        @inputText(clubForm("code"), '_label -> "Code FFF")
        @inputText(clubForm("name"), '_label -> "Nom")

        <div class="form-actions">
            <input type="submit" value="Save this club" class="btn btn-primary">
            <a href="@routes.Clubs.view(id)" class="btn">View</a>
            <a href="@routes.Clubs.list()" class="btn">Cancel</a>
            <a href="@routes.Clubs.create()" class="btn">New</a>
        </div>

    }
}