@(message: String, club: Club)(implicit flash: play.api.mvc.Flash)

@import tags._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@club.id</dd>
        <dt>Name</dt>
        <dd>@club.name</dd>
        <dt>Code FFF</dt>
        <dd>@club.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this club" class="btn btn-primary"> **@
    @btnEdit(routes.Clubs.edit(club.id.getOrElse(0)))
    @btnCancel(routes.Clubs.list())
    @btnNew(routes.Clubs.create())
</div>

}