@(message: String, teamForm: Form[Team], clubs : Seq[(String, String)])(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Teams.save(), 'class -> "form-horizontal") {

        @inputText(teamForm("code"), '_label -> "Code FFF")
        @inputText(teamForm("name"), '_label -> "Nom")

        @select(
        teamForm("clubId"),
        clubs,
        '_label -> "Club", '_default -> "-- Choose a club --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this team")
            @btnCancel(routes.Teams.list())
        </div>

    }
}