@(message: String, teamForm: Form[Team], clubs : Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Teams.save(), 'class -> "form-horizontal") {

        @inputText(teamForm("id"), '_label -> "Id")
        @inputText(teamForm("code"), '_label -> "Code FFF")
        @inputText(teamForm("name"), '_label -> "Nom")

        @select(
        teamForm("clubId"),
        clubs,
        '_label -> "Club", '_default -> "-- Choose a club --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            <input type="submit" value="Save this team" class="btn btn-primary">
            <a href="@routes.Teams.list()" class="btn">Cancel</a>
        </div>

    }
}