@(message: String, id: Long, teamForm: Form[Team], clubs : Seq[(String, String)])(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Teams.update(id), 'class -> "form-horizontal") {

        @inputText(teamForm("code"), '_label -> "Code")
        @inputText(teamForm("name"), '_label -> "Nom")

        @select(
        teamForm("clubId"),
        clubs,
        '_label -> "Club", '_default -> "-- Choose a club --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this team")
            @btnView(routes.Teams.view(id))
            @btnCancel(routes.Teams.list())
            @btnNew(routes.Teams.create())
        </div>

    }
}