@(message: String, team: Team)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@team.id</dd>
        <dt>Name</dt>
        <dd>@team.name</dd>
        <dt>Code</dt>
        <dd>@team.code</dd>
        <dt>Club</dt>
        <dd>@team.clubId</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this team" class="btn btn-primary"> **@
    @btnEdit(routes.Teams.edit(team.id.getOrElse(0)))
    @btnCancel(routes.Teams.list())
    @btnNew(routes.Teams.create())
</div>

}