@(message: String, seasonForm: Form[Season])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Seasons.save(), 'class -> "form-horizontal") {

        @inputText(seasonForm("currentSeason"), '_label -> "Current")
        @inputText(seasonForm("name"), '_label -> "Nom")

        <div class="form-actions">
            <input type="submit" value="Save this season" class="btn btn-primary">
            <a href="@routes.Seasons.list()" class="btn">Cancel</a>
        </div>

    }
}