@(message: String, season: Season)(implicit flash: play.api.mvc.Flash)

@import tags._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@season.id</dd>
        <dt>Name</dt>
        <dd>@season.name</dd>
        <dt>Current</dt>
        <dd>@season.currentSeason</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this season" class="btn btn-primary"> **@
    @btnEdit(routes.Seasons.edit(season.id.getOrElse(0)))
    @btnCancel(routes.Seasons.list())
    @btnNew(routes.Seasons.create())
</div>

}