@(message: String,
        seasonCompetitionForm: Form[SeasonCompetition],
        categories : Seq[(String, String)],
        scales : Seq[(String, String)],
        seasons : Seq[(String, String)],
        typCompetitions : Seq[(String, String)])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.SeasonCompetitions.save(), 'class -> "form-horizontal") {

        @select(
            seasonCompetitionForm("seasonId"),
            seasons,
            '_label -> "Season", '_default -> "-- Choose a season --",
            '_showConstraints -> false
        )
        @select(
            seasonCompetitionForm("typCompetitionId"),
            typCompetitions,
            '_label -> "TypCompetition", '_default -> "-- Choose a typCompetition --",
            '_showConstraints -> false
        )
        @select(
            seasonCompetitionForm("categoryId"),
            categories,
            '_label -> "Category", '_default -> "-- Choose a category --",
            '_showConstraints -> false
        )
        @select(
            seasonCompetitionForm("scaleId"),
            scales,
            '_label -> "Scale", '_default -> "-- Choose a scale --",
            '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this seasonCompetition")
            @btnCancel(routes.SeasonCompetitions.list())
        </div>

    }
}