@(message: String, seasonCompetitionForm: Form[SeasonCompetition])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.SeasonCompetitions.save(), 'class -> "form-horizontal") {

        @inputText(seasonCompetitionForm("id"), '_label -> "Id")
        @inputText(seasonCompetitionForm("code"), '_label -> "Code FFF")
        @inputText(seasonCompetitionForm("name"), '_label -> "Nom")

        <div class="form-actions">
            <input type="submit" value="Save this seasonCompetition" class="btn btn-primary">
            <a href="@routes.SeasonCompetitions.list()" class="btn">Cancel</a>
        </div>

    }
}