@(message: String, currentPage: Page[(SeasonCompetition, Category, Scale, Season, TypCompetition)], currentOrderBy: Int)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
routes.SeasonCompetitions.list(newPage
, newOrderBy.map { orderBy =>
if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
}.getOrElse(currentOrderBy))
}
@**, currentFilter)
**@

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
    <a href="@link(0, Some(orderBy))">@title</a>
</th>
}

@main(message) {

@Option(currentPage.items).filterNot(_.isEmpty).map { seasonCompetitions =>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        @header(1, "Season")
        @header(2, "TypCompetition")
    </tr>
    </thead>
    <tbody>

        @seasonCompetitions.map {

            case (sc,category,scale,season,typCompetition) => {
                <tr>
                <td><a href="@routes.SeasonCompetitions.view(sc.id.getOrElse(0))">@season.name</a></td>
                <td>@typCompetition.name</td>
                </tr>
            }

        }

    </tbody>
</table>

<div id="pagination" class="pagination">
    <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
            <a href="@link(page)">&larr; Previous</a>
        </li>
        }.getOrElse {
        <li class="prev disabled">
            <a>&larr; Previous</a>
        </li>
        }
        <li class="current">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + seasonCompetitions.size) of @currentPage.total</a>
        </li>
        @currentPage.next.map { page =>
        <li class="next">
            <a href="@link(page)">Next &rarr;</a>
        </li>
        }.getOrElse {
        <li class="next disabled">
            <a>Next &rarr;</a>
        </li>
        }
    </ul>
</div>

}.getOrElse {

<div class="well">
    <em>Nothing to display</em>
</div>

}
}