@(message: String, seasonCompetition: SeasonCompetition)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@seasonCompetition.id</dd>
        <dt>Type</dt>
        <dd>@seasonCompetition.typCompetitionId</dd>
        <dt>Category</dt>
        <dd>@seasonCompetition.categoryId</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this seasonCompetition" class="btn btn-primary"> **@
    @btnEdit(routes.SeasonCompetitions.edit(seasonCompetition.id.getOrElse(0)))
    @btnCancel(routes.SeasonCompetitions.list())
    @btnNew(routes.SeasonCompetitions.create())
</div>

}