@(message: String, positionForm: Form[Position])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Positions.save(), 'class -> "form-horizontal") {

        @inputText(positionForm("code"), '_label -> "Code")
        @inputText(positionForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this position")
            @btnCancel(routes.Positions.list())
        </div>

    }
}