@(message: String, position: Position)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@position.id</dd>
        <dt>Name</dt>
        <dd>@position.name</dd>
        <dt>Code</dt>
        <dd>@position.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this position" class="btn btn-primary"> **@
    @btnEdit(routes.Positions.edit(position.id.getOrElse(0)))
    @btnCancel(routes.Positions.list())
    @btnNew(routes.Positions.create())
</div>

}