@(message: String, matchForm: Form[Match])

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Matchs.save(), 'class -> "form-horizontal") {

        @inputText(matchForm("id"), '_label -> "Id")
        @inputText(matchForm("firstName"), '_label -> "FirstName")
        @inputText(matchForm("lastName"), '_label -> "LastName")
        @inputText(matchForm("email"), '_label -> "Email")

        <div class="form-actions">
            @btnSubmit("Save this match")
            @btnCancel(routes.Matchs.list())
        </div>

    }
}