@(message: String, matchForm: Form[Match])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Matchs.save(), 'class -> "form-horizontal") {

        @inputText(matchForm("firstName"), '_label -> "FirstName")
        @inputText(matchForm("lastName"), '_label -> "LastName")
        @inputText(matchForm("email"), '_label -> "Email")

        <div class="form-actions">
            @btnSubmit("Save this match")
            @btnCancel(routes.Matchs.list())
        </div>

    }
}