@(message: String,
m: Match,
event:Event,
idMatch:Long,
    idTeam:Long
        )(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@scripts = {
    <script type="text/javascript" src='@routes.Assets.at("js/app/controllers/debriefing.js")'
    xmlns="http://www.w3.org/1999/html"></script>


}

@main(event.name+" "+event.dtEvent.toString("dd MM yyyy"), scripts) {
<div class="row-fluid" data-ng-controller="DebriefingCtrl" ng-init="loadMatch(@idMatch, @idTeam)">
    <div class="clearfix" ></div>
    <div id="preview">
        @*** HOME ***@
        <div class="span12">
            <div class="well">
                <h2 class="text-center">{{matchTeam.team.name}}</h2>
                <h3 class="text-right muted"> {{matchTeam.matchteam.goalScored}}</h3>
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="goal in goals">
                        <p>
                        	<span class="span1">{{goal.goal.goalTime}}'</span>
                            <span class="span11">{{goal.striker.firstName}} {{goal.striker.lastName}}
        	                    <em>
                                <span ng-show="{{goal.goal.csc}}">csc</span>
                                <span ng-show="{{goal.goal.penalty}}">sp</span>
                        		</em>
                        	</span>
                   	   </p>
                    </li>
                </ul>
                &nbsp;
                <ul class="unstyled">
                     <li ng-repeat="card in cards">
                        <p>
                            <span class="span1">{{card.card.time}}'</span>
                            <span class="span11">{{card.player.firstName}} {{card.player.lastName}} <em>{{card.typcard.name}}</em></span>
                        </p>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <ul class="unstyled">
                     <li ng-repeat="sub in subs">
                        <p>
                            <span class="span1">{{sub.substitution.time}}'</span>
                            <span class="span5 text-error">{{sub.playerout.firstName}} {{sub.playerout.lastName}}</span>
                            <span class="span1"><i class="icon-exchange"></i></span>
        	                <span class="span5 text-success">{{sub.playerin.firstName}} {{sub.playerin.lastName}}</span>
                        </p>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="player in players">

                        <span class="span1"><span class="badge">{{player.matchplayer.num}}</span></span>
                        <span class="span7">{{player.player.firstName}} {{player.player.lastName}} </span>
                        <span ng-hide="player.editing">
                            <span class="span1"><span class="label">{{player.matchplayer.note}} </span></span>
                            <span class="span1">{{player.matchplayer.timePlayed}}'</span>
                            <span class="span2"><button><i class="icon-edit" ng-click="edit(player)"></i></button></span>
                        </span>
                        <form class="span4" ng-show="player.editing" ng-submit="player.editing = false">
                            <div class="input-append">
                                <input type="numeric" class="input-mini" ng-model="player.matchplayer.note" placeholder="Note"/>
                                <button class="btn btn-success" type="submit"><i class="icon-save"></i></button>
                                <button class="btn btn-danger" type="cancel"><i class="icon-remove"></i></button>
                            </div>
                        </form>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <div ng-bind-html-unsafe="mtHome.matchteam.resume"></div>
               @* <p><div id="homeResume" data-type="wysihtml5" data-pk="1"><span ng-bind-html-unsafe="mtHome.matchteam.resume"></span></div></p> *@
            </div>
        </div>
        </div>
    </div>
    </div>
}