@(message: String,
m: Match,
event:Event,
home: (MatchTeam, Team),
away: (MatchTeam, Team),
homeGoals: Seq[(Goal, Option[Player])],
awayGoals: Seq[(Goal, Option[Player])],
homePlayers:Seq[(MatchPlayer, Match, Player, Team)],
awayPlayers:Seq[(MatchPlayer, Match, Player, Team)],
homeSubs:Seq[(Substitution, Match, Team, Player, Player)],
awaySubs:Seq[(Substitution, Match, Team, Player, Player)],
homeCards:Seq[(Card, Match, Team, Player, TypCard)],
awayCards:Seq[(Card, Match, Team, Player, TypCard)])(implicit flash: play.api.mvc.Flash)

@scripts = {
    <script type="text/javascript" src='@routes.Assets.at("js/app/controllers/debriefing.js")'></script>

    <script>
            var f = 'bootstrap';
            //turn to inline mode
            $.fn.editable.defaults.mode = 'inline';
            $(function(){
                $('#homeScore').editable();
                $('#awayScore').editable();
                $('#homeResume').editable();
                $('#awayResume').editable();
                $('#anote1').editable({
            source: [
              {value: 0, text: '0'},
              {value: 1, text: '1'},
              {value: 2, text: '2'}
           ]
            });
                 
            });
    </script>

}

@main(event.name+" "+event.dtEvent.toString("dd MM yyyy"), scripts) {
<div class="row-fluid" ng-controller="DebriefingCtrl">
    <div class="clearfix"></div>
    <div id="preview">
        @*** HOME ***@
        <div class="span6">
            <div class="well">
                <h2 class="text-center">{{mtHome.team.name}}</h2>
                <h3 class="text-right muted"> {{mtHome.matchteam.goalScored}}</h3>
            <hr>
                <ul class="unstyled">
                    <li ng-repeat="goals in homeGoals">
                        <p>
                        	<span class="span1">{{goals.goal.goalTime}}'</span>
                            <span class="span11">{{goals.striker.firstName}} {{goals.striker.lastName}}
        	                    <em>
                                <span ng-show="{{goals.goal.csc}}">csc</span>
                                <span ng-show="{{goals.goal.penalty}}">sp</span>
                        		</em>
                        	</span>
                   	   </p>
                    </li>
                </ul>
                &nbsp;
                <ul class="unstyled">
                     <li ng-repeat="cards in homeCards">
                        <p>
                            <span class="span1">{{cards.card.time}}'</span>
                            <span class="span11">{{cards.player.firstName}} {{cards.player.lastName}} <em>{{cards.typcard.name}}</em></span>
                        </p>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <ul class="unstyled">
                     <li ng-repeat="subs in homeSubs">
                        <p>
                            <span class="span1">{{subs.substitution.time}}'</span>
                            <span class="span5 text-error">{{subs.playerout.firstName}} {{subs.playerout.lastName}}</span>
                            <span class="span1"><i class="icon-exchange"></i></span>
        	               <span class="span5 text-success">{{subs.playerin.firstName}} {{subs.playerin.lastName}}</span>
                        </p>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="players in homePlayers">
                        <a href="#" data-toggle="tooltip" title="{{players.matchplayer.comments}}">
                            <span class="span1"><span class="badge">{{players.matchplayer.num}}</span></span>
                            <span class="span9">{{players.player.firstName}} {{players.player.lastName}} </span>
                            <span class="span1"> {{players.matchplayer.note}}
                            @*<select ui-select2 ng-model="select2">
                            <option value="">Pick a number</option>
                            <option value="one">First</option>
                            <option value="two">Second</option>
                            <option value="three">Third</option>
                            </select>  *@
                            </span>
                            <span class="span1">{{players.matchplayer.timePlayed}}'</span>
                        </a>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <p><div id="homeResume" data-type="wysihtml5" data-pk="1">{{mtHome.resume}}</div></p>
            </div>
        </div>
        @*** AWAY ***@
        <div class="span6">
            <div class="well">
                <h2 class="text-center">{{mtAway.team.name}}</h2>
                <h3 class="text-right muted"> {{mtAway.matchteam.goalScored}}</h3>
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="goals in awayGoals">
                        <p>
                            <span class="span1">{{goals.goal.goalTime}}'</span>
                            <span class="span11">{{goals.striker.firstName}} {{goals.striker.lastName}}
                                <em>
                                    <span ng-show="{{goals.goal.csc}}">csc</span>
                                    <span ng-show="{{goals.goal.penalty}}">sp</span>
                                </em>
                            </span>
                        </p>
                    </li>
                </ul>
                    &nbsp;
                <ul class="unstyled">
                    <li ng-repeat="cards in awayCards">
                        <p>
                            <span class="span1">{{cards.card.time}}'</span>
                            <span class="span11">{{cards.player.firstName}} {{cards.player.lastName}} <em>{{cards.typcard.name}}</em></span>
                        </p>
                    </li>
                </ul>
                    &nbsp;
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="subs in awaySubs">
                        <p>
                            <span class="span1">{{subs.substitution.time}}'</span>
                            <span class="span5 text-error">{{subs.playerout.firstName}} {{subs.playerout.lastName}}</span>
                            <span class="span1"><i class="icon-exchange"></i></span>
                            <span class="span5 text-success">{{subs.playerin.firstName}} {{subs.playerin.lastName}}</span>
                        </p>
                    </li>
                </ul>
                    &nbsp;
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="players in awayPlayers">
                        <a href="#" data-toggle="tooltip" title="{{players.matchplayer.comments}}">
                            <span class="span1"><span class="badge">{{players.matchplayer.num}}</span></span>
                            <span class="span9">{{players.player.firstName}} {{players.player.lastName}} </span>
                            <span class="span1"> {{players.matchplayer.note}}
                                @*<select ui-select2 ng-model="select2">
                                <option value="">Pick a number</option>
                                <option value="one">First</option>
                                <option value="two">Second</option>
                                <option value="three">Third</option>
                                </select>  *@
                            </span>
                            <span class="span1">{{players.matchplayer.timePlayed}}'</span>
                        </a>
                    </li>
                </ul>
                    &nbsp;
                <hr>
                <p><div id="awayResume" data-type="wysihtml5" data-pk="1">{{mtAway.resume}}</div></p>
                </div>
        </div>
    </div>
    </div>
}