@(message: String,
m: Match,
event:Event,
idMatch:Long,
    idTeam:Long
        )(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@scripts = {
    <script type="text/javascript" src='@routes.Assets.at("js/app/controllers/debriefing.js")'
    xmlns="http://www.w3.org/1999/html"></script>


}

@main(event.name+" "+event.dtEvent.toString("dd MM yyyy"), scripts) {
<div class="row-fluid" data-ng-controller="DebriefingCtrl" ng-init="idMatch=@idMatch ; idTeam=@idTeam ; loadMatch()">
    <div class="clearfix" ></div>
    <div id="preview">
        @*** HOME ***@
        <div class="col-md-12">
            <div class="well">
                <h2 class="text-center">{{mtHome.team.name}}</h2>
                <h3 class="text-right muted"> {{mtHome.matchteam.goalScored}}</h3>
            <hr>
                <ul class="unstyled">
                    <li ng-repeat="goals in homeGoals">
                        <p>
                        	<span class="col-md-1">{{goals.goal.goalTime}}'</span>
                            <span class="col-md-11">{{goals.striker.firstName}} {{goals.striker.lastName}}
        	                    <em>
                                <span ng-show="{{goals.goal.csc}}">csc</span>
                                <span ng-show="{{goals.goal.penalty}}">sp</span>
                        		</em>
                        	</span>
                   	   </p>
                    </li>
                </ul>
                &nbsp;
                <ul class="unstyled">
                     <li ng-repeat="cards in homeCards">
                        <p>
                            <span class="col-md-1">{{cards.card.time}}'</span>
                            <span class="col-md-11">{{cards.player.firstName}} {{cards.player.lastName}} <em>{{cards.typcard.name}}</em></span>
                        </p>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <ul class="unstyled">
                     <li ng-repeat="subs in homeSubs">
                        <p>
                            <span class="col-md-1">{{subs.substitution.time}}'</span>
                            <span class="col-md-5 text-error">{{subs.playerout.firstName}} {{subs.playerout.lastName}}</span>
                            <span class="col-md-1"><i class="icon-exchange"></i></span>
        	                <span class="col-md-5 text-success">{{subs.playerin.firstName}} {{subs.playerin.lastName}}</span>
                        </p>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <ul class="unstyled">
                    <li ng-repeat="player in homePlayers">

                        <span class="col-md-1"><span class="badge">{{player.matchplayer.num}}</span></span>
                        <span class="col-md-7">{{player.player.firstName}} {{player.player.lastName}} </span>
                        <span ng-hide="player.editing">
                            <span class="col-md-1"><span class="label">{{player.matchplayer.note}} </span></span>
                            <span class="col-md-1">{{player.matchplayer.timePlayed}}'</span>
                            <span class="col-md-2"><button><i class="icon-edit" ng-click="edit(player)"></i></button></span>
                        </span>
                        <form class="col-md-4" ng-show="player.editing" ng-submit="player.editing = false">
                            <div class="input-append">
                                <input type="numeric" class="input-mini" ng-model="player.matchplayer.note" placeholder="Note"/>
                                <button class="btn btn-success" type="submit"><i class="icon-save"></i></button>
                                <button class="btn btn-danger" type="cancel"><i class="icon-remove"></i></button>
                            </div>
                        </form>
                    </li>
                </ul>
                &nbsp;
                <hr>
                <div ng-bind-html-unsafe="mtHome.matchteam.resume"></div>
               @* <p><div id="homeResume" data-type="wysihtml5" data-pk="1"><span ng-bind-html-unsafe="mtHome.matchteam.resume"></span></div></p> *@
            </div>
        </div>
        </div>
    </div>
    </div>
}