@(message: String, currentPage: Page[(Match, SeasonCompetition, Event)], currentOrderBy: Int)(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import service.Coach
@import tags.buttons._


        @****************************************
        * Helper generating navigation links *
        ****************************************@
    @link(newPage: Int, newOrderBy: Option[Int] = None) = @{
        routes.Matchs.list(newPage
            , newOrderBy.map {
                orderBy =>
                    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
            }.getOrElse(currentOrderBy))
    }
@**, currentFilter)
**@
        @**********************************
        * Helper generating table headers *
        ***********************************@
    @header(orderBy: Int, title: String) = {
        <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
            if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
        }">
            <a href="@link(0, Some(orderBy))">@title</a>
        </th>
    }

@main(message) {

    @Option(currentPage.items).filterNot(_.isEmpty).map { matchs =>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @* @header(0,"Id") *@
                    @header(1, "Id match")
                    @header(2, "Event name")
                    @header(3, "Date")
                </tr>
            </thead>
            <tbody>

            @matchs.map { case (m, competition, event) =>
                <tr>
                    @* <td>@match.firstName</td> *@
                <td>@m.id</td>
                <td><a href="@routes.Matchs.view(m.id.getOrElse(0))">@event.name</a></td>
                <td>@event.dtEvent.toString("dd MMM yyyy")</td>
            </tr>
            }

            </tbody>
        </table>

        <ul id="pagination" class="pagination">
            @currentPage.prev.map { page =>
                <li class="prev">
                    <a href="@link(page)">&larr; Previous</a>
                </li>
            }.getOrElse {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            }
            <li class="active">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + matchs.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
                <li class="next">
                    <a href="@link(page)">Next &rarr;</a>
                </li>
            }.getOrElse {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
    @session.get("userId").map { userId =>
        <div class="form-actions" display='@models.Roles.isUserInRole(userId.toLong, Set(Coach))'>
            @* @btnNew(routes.Matchs.create()) *@
            <div>
    }
}