@(message: String,
m: Match,
event:Event,
idMatch:Long,
idTeam:Long)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@scripts = {
    <script type="text/javascript" src='@routes.Assets.at("js/app/controllers/lineup.js")'
    xmlns="http://www.w3.org/1999/html"></script>


}

@main(event.name+" "+event.dtEvent.toString("dd MM yyyy"), scripts) {
    <h1>Line up</h1>
<div class="row-fluid" data-ng-controller="LineupCtrl" ng-init="idMatch=@idMatch ; idTeam=@idTeam ; loadMatch()">
    <div class="clearfix" ></div>
        <div id="preview">
            <div class="well span12">
                <h2 class="text-center">{{matchTeam.team.name}}</h2>
                <hr>
                <div class="span12">
                    <ul class="unstyled span5" title="Answers">
                        <li ng-repeat="answer in answers | orderBy:'typanswer.id'">
                            <span class="span10">{{answer.player.firstName}} {{answer.player.lastName}} </span>
                            <span class="span2"><span class="badge badge-{{answer.typanswer |typAnswer }}">{{answer.typanswer.name}}</span></span>
                        </li>
                    </ul>
                    <ul class="unstyled span6 offset1" title="Lineup">
                        <li ng-repeat="player in players">
                            <span class="span1"><span class="badge">{{player.matchplayer.num}}</span></span>
                            <span class="span11">{{player.player.firstName}} {{player.player.lastName}} </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
}