@(message: String,
m: Match,
event:Event,
home: (MatchTeam, Team),
away: (MatchTeam, Team),
homePlayers:Seq[(MatchPlayer, Match, Player, Team)],
awayPlayers:Seq[(MatchPlayer, Match, Player, Team)])(implicit flash: play.api.mvc.Flash)


@main(event.name+" "+event.dtEvent.toString("dd MM yyyy")) {
    <div class="row">
        @Option(home).map { case (mtHome, homeTeam) =>
            <div class="span5 offset1 well">
                <h2 class="text-center">@homeTeam.name</h2>
                <h3 class="text-right muted">@mtHome.goalScored</h3>
                <ul class="unstyled">

                    @homePlayers.map { case (mp, m, p, t) =>
                    <li>
                        <a href="#" data-toggle="tooltip" title="@mp.comments">
                        <div class="span2">@mp.num</div>
                        <div class="span6">@p.firstName @p.lastName</div>
                        <div class="span2">@mp.note</div>
                        <div class="span2">@mp.timePlayed'</div>
                        </a>
                    </li>
                }

                </ul>
                <p>@Html(mtHome.resume.getOrElse(""))</p>
            </div>
        }
        @Option(away).map { case (mtAway, awayTeam) =>
            <div class="span5  well">
                <h2 class="text-center">@awayTeam.name</h2>
                <h3 class="text-left muted">@mtAway.goalScored</h3>
                <ul class="unstyled">

                        @awayPlayers.map { case (mp, m, p, t) =>
                        <li>
                            <a href="#" data-toggle="tooltip" title="@mp.comments">
                            <div class="span2">@mp.num</div>
                            <div class="span6">@p.firstName @p.lastName</div>
                            <div class="span2">@mp.note</div>
                            <div class="span2">@mp.timePlayed'</div>
                            </a>
                        </li>
                        }

                </ul>
                <p>@Html(mtAway.resume.getOrElse(""))</p>
            </div>
        }
    </div>




}