@(message: String, scaleForm: Form[Scale])(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Scales.save(), 'class -> "form-horizontal") {

        @inputText(scaleForm("code"), '_label -> "Code")
        @inputText(scaleForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this scale")
            @btnCancel(routes.Scales.list())
        </div>

    }
}