@(message: String, id: Long, scaleForm: Form[Scale])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Scales.update(id), 'class -> "form-horizontal") {

        @inputText(scaleForm("code"), '_label -> "Code")
        @inputText(scaleForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this scale")
            @btnView(routes.Scales.view(id))
            @btnCancel(routes.Scales.list())
            @btnNew(routes.Scales.create())
        </div>

    }
}