@(message: String, scale: Scale)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@scale.name</dd>
        <dt>Code</dt>
        <dd>@scale.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this scale" class="btn btn-primary"> **@
    @btnEdit(routes.Scales.edit(scale.id.getOrElse(0)))
    @btnCancel(routes.Scales.list())
    @btnNew(routes.Scales.create())
</div>

}