@(message: String, typMatchForm: Form[TypMatch])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.TypMatches.save(), 'class -> "form-horizontal") {

        @inputText(typMatchForm("code"), '_label -> "Code")
        @inputText(typMatchForm("name"), '_label -> "Nom")
        @inputText(typMatchForm("nbSubstitute"), '_label -> "nbSubstitute")
        @inputText(typMatchForm("nbPlayer"), '_label -> "nbPlayer")
        @inputText(typMatchForm("periodDuration"), '_label -> "periodDuration")
        @inputText(typMatchForm("hasExtraTime"), '_label -> "hasExtraTime")
        @inputText(typMatchForm("extraTimeDuration"), '_label -> "extraTimeDuration")
        @inputText(typMatchForm("hasInfiniteSubs"), '_label -> "hasInfiniteSubs")
        @inputText(typMatchForm("nbSubstitution"), '_label -> "nbSubstitution")
        @inputText(typMatchForm("hasPenalties"), '_label -> "hasPenalties")
        @inputText(typMatchForm("nbPenalties"), '_label -> "nbPenalties")

        <div class="form-actions">
            @btnSubmit("Save this typMatch")
            @btnCancel(routes.TypMatches.list())
        </div>

    }
}