@(message: String, id: Long, typMatchForm: Form[TypMatch])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.TypMatches.update(id), 'class -> "form-horizontal") {

        @inputText(typMatchForm("code"), '_label -> "Code")
        @inputText(typMatchForm("name"), '_label -> "Nom")
        @inputText(typMatchForm("nbSubstitute"), '_label -> "nbSubstitute")
        @inputText(typMatchForm("nbPlayer"), '_label -> "nbPlayer")
        @inputText(typMatchForm("periodDuration"), '_label -> "periodDuration")
        @inputText(typMatchForm("hasExtraTime"), '_label -> "hasExtraTime")
        @inputText(typMatchForm("extraTimeDuration"), '_label -> "extraTimeDuration")
        @inputText(typMatchForm("hasInfiniteSubs"), '_label -> "hasInfiniteSubs")
        @inputText(typMatchForm("nbSubstitution"), '_label -> "nbSubstitution")
        @inputText(typMatchForm("hasPenalties"), '_label -> "hasPenalties")
        @inputText(typMatchForm("nbPenalties"), '_label -> "nbPenalties")

        <div class="form-actions">
            @btnSubmit("Save this typMatch")
            @btnView(routes.TypMatches.view(id))
            @btnCancel(routes.TypMatches.list())
            @btnNew(routes.TypMatches.create())
        </div>

    }
}