@(message: String, typMatch: TypMatch)(implicit flash: play.api.mvc.Flash)

@import tags._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@typMatch.id</dd>
        <dt>Name</dt>
        <dd>@typMatch.name</dd>
        <dt>Code</dt>
        <dd>@typMatch.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this typMatch" class="btn btn-primary"> **@
    @btnEdit(routes.TypMatches.edit(typMatch.id.getOrElse(0)))
    @btnCancel(routes.TypMatches.list())
    @btnNew(routes.TypMatches.create())
</div>

}