@(message: String, id: Long, playerForm: Form[Player])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Players.update(id), 'class -> "form-horizontal") {

        @inputText(playerForm("id"), '_label -> "Id")
        @inputText(playerForm("firstName"), '_label -> "FirstName")
        @inputText(playerForm("lastName"), '_label -> "LastName")
        @inputText(playerForm("email"), '_label -> "Email")

        <div class="form-actions">
            <input type="submit" value="Save this player" class="btn btn-primary">
            <a href="@routes.Players.view(id)" class="btn">View</a>
            <a href="@routes.Players.list(0)" class="btn">Cancel</a>
            <a href="@routes.Players.create()" class="btn">New</a>
        </div>

    }
}