@(message: String, typCardForm: Form[TypCard])(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.TypCards.save(), 'class -> "form-horizontal") {

        @inputText(typCardForm("code"), '_label -> "Code")
        @inputText(typCardForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this typCard")
            @btnCancel(routes.TypCards.list())
        </div>

    }
}