@(message: String, id: Long, typCardForm: Form[TypCard])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.TypCards.update(id), 'class -> "form-horizontal") {

        @inputText(typCardForm("code"), '_label -> "Code")
        @inputText(typCardForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this typCard")
            @btnView(routes.TypCards.view(id))
            @btnCancel(routes.TypCards.list())
            @btnNew(routes.TypCards.create())
        </div>

    }
}