@(message: String, typCard: TypCard)(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@typCard.id</dd>
        <dt>Name</dt>
        <dd>@typCard.name</dd>
        <dt>Code</dt>
        <dd>@typCard.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this typCard" class="btn btn-primary"> **@
    @btnEdit(routes.TypCards.edit(typCard.id.getOrElse(0)))
    @btnCancel(routes.TypCards.list())
    @btnNew(routes.TypCards.create())
</div>

}