@(message: String, typMatchForm: Form[TypCompetition], typMatches : Seq[(String, String)])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.TypCompetitions.save(), 'class -> "form-horizontal") {

        @inputText(typMatchForm("code"), '_label -> "Code")
        @inputText(typMatchForm("name"), '_label -> "Nom")

        @select(
            typMatchForm("typMatchId"),
            typMatches,
            '_label -> "TypMatch", '_default -> "-- Choose a typMatch --",
            '_showConstraints -> false
        )

        <div class="form-actions">
            <input type="submit" value="Save this typMatch" class="btn btn-primary">
            <a href="@routes.TypCompetitions.list()" class="btn">Cancel</a>
        </div>

    }
}