@(message: String, id: Long, typMatchForm: Form[TypCompetition], typMatches : Seq[(String, String)])(implicit flash: play.api.mvc.Flash)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.TypCompetitions.update(id), 'class -> "form-horizontal") {

        @inputText(typMatchForm("code"), '_label -> "Code")
        @inputText(typMatchForm("name"), '_label -> "Nom")
        @inputText(typMatchForm("isChampionship"), '_label -> "Is championship")

        @select(
            typMatchForm("typMatchId"),
            typMatches,
            '_label -> "TypMatch", '_default -> "-- Choose a typMatch --",
            '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this typMatch")
            @btnView(routes.TypCompetitions.view(id))
            @btnCancel(routes.TypCompetitions.list())
            @btnNew(routes.TypCompetitions.create())
        </div>

    }
}