@(message: String, currentPage: Page[(TypCompetition, TypMatch)], currentOrderBy: Int)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import service.Administrator
@import tags.buttons._

        @****************************************
        * Helper generating navigation links *
        ****************************************@
    @link(newPage: Int, newOrderBy: Option[Int] = None) = @{
        routes.TypCompetitions.list(newPage
            , newOrderBy.map {
                orderBy =>
                    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
            }.getOrElse(currentOrderBy))
    }
@**, currentFilter)
**@

        @**********************************
        * Helper generating table headers *
        ***********************************@
    @header(orderBy: Int, title: String) = {
        <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
            if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
        }">
            <a href="@link(0, Some(orderBy))">@title</a>
        </th>
    }

@main(message) {

    @Option(currentPage.items).filterNot(_.isEmpty).map { typCompetitions =>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @* @header(0,"Id") *@
                    @header(1, "TypCompetition")
                    @header(2, "TypMatch")
                </tr>
            </thead>
            <tbody>

            @typCompetitions.map {
                case (typCompetition, typMatch) => {
                    <tr>
                        @* <td>@typMatch.id</td> *@
                    <td>@typCompetition.code</td>
                    <td><a href="@routes.TypCompetitions.view(typCompetition.id.getOrElse(0))">@typCompetition.name</a></td>
                    <td>@typMatch.name</td>
                    </tr>
                }
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + typCompetitions.size) of @currentPage.total</a>
            </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }

    @session.get("userId").map { userId =>
        <div class="form-actions" display='@models.Role.isUserInRole(userId.toLong, Set(Administrator))'>
        @btnNew(routes.TypCompetitions.create())
        </div>
    }
}

