@(message: String, typCompetition: TypCompetition)(implicit flash: play.api.mvc.Flash)


@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@typCompetition.name</dd>
        <dt>Code</dt>
        <dd>@typCompetition.code</dd>
        <dt>IsChampionship</dt>
        <dd>@typCompetition.isChampionship</dd>
        <dt>TypMatch</dt>
        <dd>@typCompetition.typMatchId</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this typMatch" class="btn btn-primary"> **@
    <a href="@routes.TypCompetitions.edit(typCompetition.id.getOrElse(0))" class="btn btn-primary">Edit</a>
    <a href="@routes.TypCompetitions.list()" class="btn">Cancel</a>
    <a href="@routes.TypCompetitions.create()" class="btn">New</a>
</div>

}