@(message: String, user: User)(implicit flash: play.api.mvc.Flash)


@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@user.id</dd>
        <dt>Email</dt>
        <dd>@user.email</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this user" class="btn btn-primary"> or**@
    <a href="@routes.Users.edit(user.id.getOrElse(0))" class="btn btn-primary">Edit</a>or
    <a href="@routes.Users.list()" class="btn">Cancel</a>
    <a href="@routes.Users.create()" class="btn">New</a>
</div>

}