@(message: String, stateForm: Form[State], countries : Seq[(String, String)])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.States.save(), 'class -> "form-horizontal") {

        @inputText(stateForm("id"), '_label -> "Id")
        @inputText(stateForm("code"), '_label -> "Code FFF")
        @inputText(stateForm("name"), '_label -> "Nom")

        @select(
        stateForm("countryId"),
        countries,
        '_label -> "Country", '_default -> "-- Choose a country --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this state")
            @btnCancel(routes.States.list())
        </div>

    }
}