@(message: String, id: Long, stateForm: Form[State], countries : Seq[(String, String)])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.States.update(id), 'class -> "form-horizontal") {

        @inputText(stateForm("id"), '_label -> "Id")
        @inputText(stateForm("code"), '_label -> "Code")
        @inputText(stateForm("name"), '_label -> "Nom")

       @select(
        stateForm("countryId"),
        countries,
        '_label -> "Country", '_default -> "-- Choose a country --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this state")
            @btnView(routes.States.view(id))
            @btnCancel(routes.States.list())
            @btnNew(routes.States.create())
        </div>

    }
}