@(message: String, state: State)(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@state.id</dd>
        <dt>Name</dt>
        <dd>@state.name</dd>
        <dt>Code</dt>
        <dd>@state.code</dd>
        <dt>Country</dt>
        <dd>@state.countryId</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this state" class="btn btn-primary"> **@
    @btnEdit(routes.States.edit(state.id.getOrElse(0)))
    @btnCancel(routes.States.list())
    @btnNew(routes.States.create())
</div>

}