@(message: String)(implicit request: RequestHeader, session: play.api.mvc.Session)

@scripts = {

    <script type="text/javascript" src='@routes.Assets.at("js/fullcalendar.js")'></script>
   @* <script src="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/gcal.js"></script> *@
    <script type="text/javascript" src='@routes.Assets.at("js/gcal.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/app/controllers/agenda.js")'></script>

}

@main(message, scripts) {
    <div class="well" ng-controller="AgendaCtrl" ng-init="loadEvents();">
        <div class="row">
            <div ui-calendar="{height: 450,editable: false,  firstDay: 1, weekNumbers: true, year :2009}"
                 class="span10 offset1 calendar" ng-model="eventSources"></div>
        </div>
    </div>
}