@(message: String, eventForm: Form[Event], typEvents : Seq[(String, String)], places: Seq[(String, String)], eventStatuses: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Events.save(), 'class -> "form-horizontal") {

        @inputText(eventForm("id"), '_label -> "Id")
        @inputDate(eventForm("dtEvent"), '_label -> "Date")
        @inputText(eventForm("duration"), '_label -> "Duration")
        @inputText(eventForm("name"), '_label -> "Nom")
        @select(
            eventForm("typEventId"),
            typEvents,
            '_label -> "TypEvent", '_default -> "-- Choose a type --",
            '_showConstraints -> true
        )
        @select(
            eventForm("placeId"),
            places,
            '_label -> "Place", '_default -> "-- Choose a place --",
            '_showConstraints -> true
        )
        @select(
            eventForm("eventStatusId"),
            eventStatuses,
            '_label -> "Status", '_default -> "-- Choose a status --",
            '_showConstraints -> true
        )

        <div class="form-actions">
            <input type="submit" value="Save this event" class="btn btn-primary">
            <a href="@routes.Events.list()" class="btn">Cancel</a>
        </div>

    }
}