@(message: String, data: (Event, TypEvent, EventStatus), teams: Seq[(EventTeam, Event, Team)])(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
    @Option(data).map { case (event, typEvent, eventStatus) =>
    <div class="header">

        <dl class="dl-horizontal">
            @*<dt>Id</dt>*@
            @*<dd>@event.id</dd>*@
            <dt>Name</dt>
            <dd>@event.name</dd>
            <dt>Date</dt>
            <dd>@event.dtEvent.toString("dd MMMM yyyy HH:mm")</dd>
            <dt>Duration</dt>
            <dd>@event.duration minutes</dd>
            <dt>Type</dt>
            <dd>@typEvent.name</dd>
            <dt>Status</dt>
            <dd>@eventStatus.name</dd>
        </dl>

        <ul class="unstyled">
            <legend>Teams</legend>
            @for(team <- teams){<li>@team._3.name</li>}
        </ul>
    </div>

    <div class="form-actions">
        @**<input type="submit" value="Edit this event" class="btn btn-primary"> **@
        @btnEdit(routes.Events.edit(event.id.getOrElse(0)))
        @btnCancel(routes.Events.list())
        @btnNew(routes.Events.create())
    </div>

    }
}