@(message: String, event: Event)(implicit flash: play.api.mvc.Flash)


@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@event.id</dd>
        <dt>Name</dt>
        <dd>@event.name</dd>
        <dt>Date</dt>
        <dd>@event.dtEvent</dd>
        <dt>Duration</dt>
        <dd>@event.duration</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this event" class="btn btn-primary"> **@
    <a href="@routes.Events.edit(event.id.getOrElse(0))" class="btn btn-primary">Edit</a>
    <a href="@routes.Events.list()" class="btn">Cancel</a>
    <a href="@routes.Events.create()" class="btn">New</a>
</div>

}