@(message: String, eventStatusForm: Form[EventStatus])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.EventStatuses.save(), 'class -> "form-horizontal") {

        @inputText(eventStatusForm("code"), '_label -> "Code")
        @inputText(eventStatusForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this eventStatus")
            @btnCancel(routes.EventStatuses.list())
        </div>

    }
}