@(message: String, id: Long, eventStatusForm: Form[EventStatus])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.EventStatuses.update(id), 'class -> "form-horizontal") {

        @inputText(eventStatusForm("code"), '_label -> "Code")
        @inputText(eventStatusForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this eventStatus")
            @btnView(routes.EventStatuses.view(id))
            @btnCancel(routes.EventStatuses.list())
            @btnNew(routes.EventStatuses.create())
        </div>

    }
}