@(message: String, eventStatus: EventStatus)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@eventStatus.id</dd>
        <dt>Name</dt>
        <dd>@eventStatus.name</dd>
        <dt>Code</dt>
        <dd>@eventStatus.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this eventStatus" class="btn btn-primary"> **@
    @btnEdit(routes.EventStatuses.edit(eventStatus.id.getOrElse(0)))
    @btnCancel(routes.EventStatuses.list())
    @btnNew(routes.EventStatuses.create())
</div>

}