@(message: String,
        events: (Event, TypEvent, EventStatus),
        answers: Seq[(Answer, Event, Player, TypAnswer)],
        user: securesocial.core.Identity,
        player: Option[Player])(implicit request: RequestHeader, session: play.api.mvc.Session)
@import securesocial.core.IdentityProvider

@scripts ={
    <script>
        $(function ()
            { $(".comment").popover();
        });
    </script>
}

@main(message, scripts) {
    @Option(events).map { case (event, typEvent, eventStatus) =>
    <fieldset>
    <legend><span class="badge">@eventStatus.name</span> @event.name - @event.dtEvent.toString("d MMM YYYY HH:mm") </legend>
        <div class="span12 well">@event.placeId @event.comments.map{ c => @Html(c)}</div>


        @user match {
            case u:models.FamUser => {
                <h2>User Info</h2>
                <img src="@u.gravatar" alt="@user.firstName" width="40px" height="40px"/>
                <ul>
                @u.currentClubId.map { t => <li>CurrentClubId: @t</li> }
                </ul>

            }
            case u: securesocial.core.SocialUser  =>{ <h3> User does not exist in Fam DB</h3> <em>TODO create a new FAM user</em>}
        }
        @player.map{
            case p => {
                <h3>Player</h3>
                <h4>@p.displayName</h4>
            }
        }



        <div class="span4">
            <ul class="unstyled">
            <legend>YES (@answers.count(x => x._4.group.equals("YES")))</legend>
                @answers.filter(x => x._4.group.equals("YES")).sortBy(y=>y._3.lastName).map { case (answer, e, player, typAnswer) =>
                <li>
                    <i class="@typAnswer.code"></i>
                    @player.displayName @answer.comments.map{comment =>
                    <a href="#" class="comment" data-toggle="popover" data-unique="1" data-placement="right" data-content="@comment" title="@typAnswer.name"><i class="icon-comment"></i></a>
                }
                </li>
            }
            </ul>
        </div>
        <div class="span4">
            <ul class="unstyled">
                <legend>MAYBE (@answers.count(x => x._4.group.equals("MAYBE")))</legend>
                @answers.filter(x => x._4.group.equals("MAYBE")).sortBy(y=>y._3.lastName).map { case (answer, e, player, typAnswer) =>
                <li>
                    <i class="@typAnswer.code"></i>
                    @player.displayName @answer.comments.map{comment =>
                    <a href="#" class="comment" data-toggle="popover" data-unique="1" data-placement="right" data-content="@comment" title="@typAnswer.name"><i class="icon-comment"></i></a>
                    }
                </li>
            }
            </ul>
        </div>
        <div class="span3">
            <ul class="unstyled">
                <legend>NO (@answers.count(x => x._4.group.equals("NO")))</legend>
                @answers.filter(x => x._4.group.equals("NO")).sortBy(y=>y._3.lastName).map { case (answer, e, player, typAnswer) =>
                <li>
                    <i class="@typAnswer.code"></i>
                    @player.displayName @answer.comments.map{comment =>
                    <a href="#" class="comment" data-toggle="popover" data-unique="1" data-placement="right" data-content="@comment" title="@typAnswer.name"><i class="icon-comment"></i></a>
                }
                </li>
            }
            </ul>
        </div>
    </fieldset>

    }
}