@(id: String = "id", idCols:Seq[String],titleCols:Seq[String], ajaxSource:Call)

<script type="text/javascript">
    /* Table initialisation */
    $(document).ready(function () {
        $('#@id').dataTable({
            "bProcessing": true,
            "aaSorting": [
                [ 0, "asc" ]
            ],
            "bServerSide": true,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": "@ajaxSource",
            "sServerMethod": "POST",
            "sPaginationType": "bootstrap",
            "sSortAsc": "header headerSortUp",
            "sSortDesc": "header headerSortDown",
            "sSortable": "header",
            "aoColumns":@cols(idCols)
    });
    });
</script>

<table id="@id" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            @for(title <- titleCols) {
                <th>@title</th>
            }
        </tr>
    </thead>
    <tbody>
    <tr>
    </tr>
    </tbody>
</table>
