@(message: String, playerForm: Form[Player])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Players.save(), 'class -> "form-horizontal") {

        @inputText(playerForm("firstName"), '_label -> "FirstName")
        @inputText(playerForm("lastName"), '_label -> "LastName")
        @inputText(playerForm("email"), '_label -> "Email")

        <div class="form-actions">
            @btnSubmit("Save this player")
            @btnCancel(routes.Players.list())
        </div>

    }
}