@(message: String, playerForm: Form[Player])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Players.save(), 'class -> "form-horizontal") {

        @inputText(playerForm("id"), '_label -> "Id")
        @inputText(playerForm("firstName"), '_label -> "FirstName")
        @inputText(playerForm("lastName"), '_label -> "LastName")
        @inputText(playerForm("email"), '_label -> "Email")

        <div class="form-actions">
            <input type="submit" value="Save this player" class="btn btn-primary"> or
            <a href="@routes.Players.list()" class="btn">Cancel</a>
        </div>

    }
}