@(message: String, id: Long, playerForm: Form[Player])(implicit flash: play.api.mvc.Flash)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Players.update(id), 'class -> "form-horizontal") {

        @inputText(playerForm("id"), '_label -> "Id")
        @inputText(playerForm("firstName"), '_label -> "FirstName")
        @inputText(playerForm("lastName"), '_label -> "LastName")
        @inputText(playerForm("email"), '_label -> "Email")

        <div class="form-actions">
            @btnSubmit("Save this player")
            @btnView(routes.Players.view(id))
            @btnCancel(routes.Players.list(0))
            @btnNew(routes.Players.create())
        </div>

    }
}