@(message: String, player: Player)(implicit flash: play.api.mvc.Flash)

@import tags._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@player.id</dd>
        <dt>FirstName</dt>
        <dd>@player.firstName</dd>
        <dt>LastName</dt>
        <dd>@player.lastName</dd>
        <dt>Email</dt>
        <dd>@player.email</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this player" class="btn btn-primary"> **@
    @btnEdit(routes.Players.edit(player.id.getOrElse(0)))
    @btnCancel(routes.Players.list())
    @btnNew(routes.Players.create())
</div>

}