@(message: String, formationForm: Form[Formation], typMatchs : Seq[(String, String)])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Formations.save(), 'class -> "form-horizontal") {

        @inputText(formationForm("code"), '_label -> "Code FFF")
        @inputText(formationForm("name"), '_label -> "Nom")

        @select(
        formationForm("typMatchId"),
            typMatchs,
        '_label -> "TypMatch", '_default -> "-- Choose a typMatch --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this formation")
            @btnCancel(routes.Formations.list())
        </div>

    }
}