@(message: String, formation: Formation, items: Seq[FormationItem])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
    <div class="header">

        <dl class="dl-horizontal">
            <dt> Id </dt>
            <dd> @formation.id </dd>
            <dt> Name </dt>
            <dd> @formation.name </dd>
            <dt> Code </dt>
            <dd> @formation.code </dd>
            <dt> Club </dt>
            <dd> @formation.typMatchId </dd>
        </dl>
        <div class="row">
            <div class="span4 offset1 soccer_field">
                @for(j <- 1 to 6) {
                    <div class="row " style="@if(j == 1){padding-top: 30px;} margin-left: 10px;">
                        @for(i <- 1 to 5) {
                            <div class="span2 " style="height:80px; margin-left: 15px;">
                                @items.filter(_.coord == ((j-1)*5 +i)).map { i =>
                                    <span class="badge">@i.numItem</span>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="form-actions">

        @**<input type="submit" value="Edit this formation" class="btn btn-primary"> **@
        @btnEdit(routes.Formations.edit(formation.id.getOrElse(0)))
        @btnCancel(routes.Formations.list())
        @btnNew(routes.Formations.create())
    </div>

}