@(message: String, countryForm: Form[Country])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Countries.save(), 'class -> "form-horizontal") {

        @inputText(countryForm("id"), '_label -> "Id")
        @inputText(countryForm("code"), '_label -> "Code")
        @inputText(countryForm("name"), '_label -> "Nom")

        <div class="form-actions">
            @btnSubmit("Save this country")
            @btnCancel(routes.Countries.list())
        </div>

    }
}