@(message: String, country: Country)(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@country.id</dd>
        <dt>Name</dt>
        <dd>@country.name</dd>
        <dt>Code</dt>
        <dd>@country.code</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this country" class="btn btn-primary"> **@
    @btnEdit(routes.Countries.edit(country.id.getOrElse(0)))
    @btnCancel(routes.Countries.list())
    @btnNew(routes.Countries.create())
</div>

}