@(message: String, id: Long, cityForm: Form[City], provinces : Seq[(String, String)])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Cities.update(id), 'class -> "form-horizontal") {

        @inputText(cityForm("id"), '_label -> "Id")
        @inputText(cityForm("code"), '_label -> "Code")
        @inputText(cityForm("name"), '_label -> "Nom")

        @select(
        cityForm("provinceId"),
        provinces,
        '_label -> "Province", '_default -> "-- Choose a province --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this city")
            @btnView(routes.Cities.view(id))
            @btnCancel(routes.Cities.list())
            @btnNew(routes.Cities.create())
        </div>

    }
}