@(message: String, city: City)(implicit flash: play.api.mvc.Flash)

    @import tags._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@city.id</dd>
        <dt>Name</dt>
        <dd>@city.name</dd>
        <dt>Code</dt>
        <dd>@city.code</dd>
        <dt>Province</dt>
        <dd>@city.provinceId</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this city" class="btn btn-primary"> **@
    @btnEdit(routes.Cities.edit(city.id.getOrElse(0)))
    @btnCancel(routes.Cities.list())
    @btnNew(routes.Cities.create())
</div>

}