@(message: String, categoryForm: Form[Category])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Categories.save(), 'class -> "form-horizontal") {

        @inputText(categoryForm("id"), '_label -> "Id")
        @inputText(categoryForm("code"), '_label -> "Code FFF")
        @inputText(categoryForm("name"), '_label -> "Nom")

        <div class="form-actions">
            <input type="submit" value="Save this category" class="btn btn-primary">
            <a href="@routes.Categories.list()" class="btn">Cancel</a>
        </div>

    }
}