@(message: String, provinceForm: Form[Province], states : Seq[(String, String)])

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Provinces.save(), 'class -> "form-horizontal") {

        @inputText(provinceForm("id"), '_label -> "Id")
        @inputText(provinceForm("code"), '_label -> "Code FFF")
        @inputText(provinceForm("name"), '_label -> "Nom")

        @select(
        provinceForm("stateId"),
        states,
        '_label -> "State", '_default -> "-- Choose a state --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this province")
            @btnCancel(routes.Provinces.list())
        </div>

    }
}