@(message: String, id: Long, provinceForm: Form[Province], states : Seq[(String, String)])(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@import tags.buttons._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Provinces.update(id), 'class -> "form-horizontal") {

        @inputText(provinceForm("id"), '_label -> "Id")
        @inputText(provinceForm("code"), '_label -> "Code")
        @inputText(provinceForm("name"), '_label -> "Nom")

        @select(
        provinceForm("stateId"),
        states,
        '_label -> "State", '_default -> "-- Choose a state --",
        '_showConstraints -> false
        )

        <div class="form-actions">
            @btnSubmit("Save this province")
            @btnView(routes.Provinces.view(id))
            @btnCancel(routes.Provinces.list())
            @btnNew(routes.Provinces.create())
        </div>

    }
}