@(message: String, currentPage: Page[(Province, State)], currentOrderBy: Int)(implicit request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import service.Administrator
@import tags.buttons._

        @****************************************
        * Helper generating navigation links *
        ****************************************@
    @link(newPage: Int, newOrderBy: Option[Int] = None) = @{
        routes.Provinces.list(newPage
            , newOrderBy.map {
                orderBy =>
                    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
            }.getOrElse(currentOrderBy))
    }
@**, currentFilter)
**@

        @**********************************
        * Helper generating table headers *
        ***********************************@
    @header(orderBy: Int, title: String) = {
        <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
            if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
        }">
            <a href="@link(0, Some(orderBy))">@title</a>
        </th>
    }

@main(message) {

    @Option(currentPage.items).filterNot(_.isEmpty).map { provinces =>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header(1, "Code")
                    @header(2, "Nom")
                    @header(3, "State")
                </tr>
            </thead>
            <tbody>

            @provinces.map {
                case (province, state) => {
                    <tr>
                        <td>@province.code</td>
                        <td><a href="@routes.Provinces.view(province.id.getOrElse(0))">@province.name</a></td>
                        <td><a href="@routes.States.view(state.id.getOrElse(0))">@state.name</a></td>
                    </tr>
                }
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + provinces.size) of @currentPage.total</a>
            </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
    @session.get("userId").map { userId =>
        <div class="form-actions" display='@models.Roles.isUserInRole(userId.toLong, List(Administrator))'>
        @btnNew(routes.Provinces.create())
        </div>
    }
}

