@(message: String, province: Province)(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import tags.buttons._

@main(message) {
<div class="header">

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@province.id</dd>
        <dt>Name</dt>
        <dd>@province.name</dd>
        <dt>Code</dt>
        <dd>@province.code</dd>
        <dt>State</dt>
        <dd>@province.stateId</dd>
    </dl>
</div>

<div class="form-actions">
    @**<input type="submit" value="Edit this province" class="btn btn-primary"> **@
    @btnEdit(routes.Provinces.edit(province.id.getOrElse(0)))
    @btnCancel(routes.Provinces.list())
    @btnNew(routes.Provinces.create())
</div>

}