@(title: String, scripts: Html = Html(""))(content: Html)

@import tags._

<!DOCTYPE html>

<html lang="en" ng-app="fam">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("slate/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("3.0.2/docs/assets/css/font-awesome.min.css"))'>

        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("1.10.2/ui/jquery-ui.js"))'></script> *@
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/2.3.1/js/bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("moment.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("tiny_mce/tiny_mce.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("tiny_mce/jquery.tinymce.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.js"))'></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-strap.js"))'></script>

        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
      @*  <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.ui.css"))'>     *@
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">

        <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/fullcalendar.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/main.css")'>

        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        @** Application AngularJS module **@
        <script type="text/javascript" src='@routes.Assets.at("js/app/app.js")'></script>

        @scripts

        @analytics("UA-37431459-1")
    </head>
    <body>
        <div class="page-header">
            <div class="container">
                <a class="brand" href="@routes.Application.index()">
                    Play 2.0 sample app &mdash; Football Amateur Manager
                </a>
            </div>
        </div>

        <section id="main">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                    <!--Sidebar content-->
                        @navigation()
                    </div>

                    <div class="span10">
                    <!--Body content-->
                        <fieldset>
                            <legend>@title</legend>
                            @content
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
        <div id="push"></div>
        <hr>
        @debug()
    </body>
</html>
