@(title: String, scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader, session: play.api.mvc.Session)

@import tags._
@import tags.buttons._

<!DOCTYPE html>

<html lang="en" ng-app="fam">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("cerulean/bootstrap.min.css"))'>
        @*<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("2.3.2/css/bootstrap.min.css"))'>*@
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("3.2.1/css/font-awesome.min.css"))'>

        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>*@
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("1.10.2/jquery.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("1.10.3/ui/jquery-ui.js"))'></script>
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>*@
        @*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>*@
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>



        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore.min.js"))'></script>*@

        @*<script src="https://mgcrea.github.io/angular-strap/vendor/bootstrap-timepicker.js"></script>*@
        @*<script src="https://mgcrea.github.io/angular-strap/vendor/bootstrap-timepicker.js"></script>*@

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("3.0.1/js/bootstrap.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("1.2.0/js/bootstrap-datepicker.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("0.2.3/js/bootstrap-timepicker.js"))'></script>
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("1.0.1/js/locales/bootstrap-datepicker.fr.js"))'></script>*@
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("0.2.1/js/bootstrap-timepicker.js"))'></script>*@
        @* <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch.js"))'></script> *@
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("moment.min.js"))'></script>
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("tiny_mce/tiny_mce.js"))'></script>*@
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("tiny_mce/jquery.tinymce.js"))'></script>*@
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.js"))'></script>
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>*@
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>*@
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-strap.js"))'></script>
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("restangular.min.js"))'></script>*@

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.pnotify.min.js"))'></script>
        @*<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-editable.min.js"))'></script>*@

        @*<link rel="stylesheet" media="screen" href='@routes.Assets.at("js/libs/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css")'>*@
        @*<script src='@routes.Assets.at("js/libs/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.min.js")'></script>*@
        @*<script src='@routes.Assets.at("js/libs/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js")'></script>*@
        @*<script src='@routes.Assets.at("js/libs/wysihtml5/wysihtml5.js")'></script>*@
        <script src='@routes.Assets.at("js/libs/bootstrap-select.js")'></script>


        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("select2.css"))'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap-select.css")'>
        @*<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/fullcalendar.css")'>*@

        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.pnotify.default.css"))'>

        @*<link href="//mgcrea.github.com/angular-strap/vendor/bootstrap-select.css" rel="stylesheet">*@
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("1.2.0/css/datepicker.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("0.2.3/css/bootstrap-timepicker.min.css"))'>
        @*<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-timepicker.css"))'>*@

        @*<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-editable.css"))'>*@
        @*<link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.ui.css"))'>*@
      @*  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">  *@
        @*<link rel="stylesheet" href="https://mgcrea.github.io/angular-strap/vendor/bootstrap-timepicker.css">*@


        <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/main.css")'>

        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

        @** Application AngularJS module **@
        <script type="text/javascript" src='@routes.Assets.at("js/app/app.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/app/filters.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/app/services.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/app/directives.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/app/controllers.js")'></script>

        @scripts

        @analytics("UA-40083721-1")
    </head>
    <body>
        <div class="page-header">
            <div class="container">
                <a class="brand" href="@routes.Application.index()">
                    Play 2.0 sample app &mdash; Football Amateur Manager
                </a>
                <span class="pull-right">
                    @session.get("email").map { email => <a href="@routes.Application.me()">@email</a> <a class="btn" href="@routes.Application.logout()"><i class="icon-signout" ></i></a>
                    }.getOrElse{
                        Guest <a class="btn" href="/login"><i class="icon-signin" ></i></a>
                    }
                </span>

            </div>
        </div>

        <section id="main">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span1">
                    <!--Sidebar content-->

                    </div>

                    <div class="span10">
                        @navigation()
                    <!--Body content-->
                        <fieldset>
                            <legend>@title</legend>

                            @content
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
        <div id="push"></div>
        <hr>
        @debug()
    </body>
</html>
