@()
<div id="navigation" class="well sidebar-nav">
    <ul class="nav nav-list">
        <li><a href="@routes.Application.index">Home</a></li>
        <li><a href="@routes.Events.agenda">Agenda</a></li>
        <li class="nav-header">Geo</li>
        <li><a href="@routes.Countries.list(0)">Countries</a></li>
        <li><a href="@routes.States.list(0)">States</a></li>
        <li><a href="@routes.Provinces.list(0)">Provinces</a></li>
        <li><a href="@routes.Cities.list(0)">Cities</a></li>
        <li class="divider"></li>
        <li><a href="@routes.Places.list(0)">Places</a></li>
        <li><a href="@routes.Places.gmap">Map</a></li>
        <li class="nav-header">General</li>
        <li><a href="@routes.Clubs.list(0)">Clubs</a></li>
        <li><a href="@routes.Teams.list(0)">Teams</a></li>
        <li><a href="@routes.Players.list(0)">Players</a></li>
        <li><a href="@routes.Users.list(0)">Users</a></li>
        <li><a href="@routes.Seasons.list(0)">Seasons</a></li>
        <li><a href="@routes.Events.list(0)">Events</a></li>
        <li><a href="@routes.SeasonCompetitions.list(0)">SeasonCompetitions</a></li>
        <li><a href="@routes.Fixtures.list(0)">Fixtures</a></li>
        <li><a href="@routes.Rankings.list(1)">Rankings</a></li>
        <li><a href="@routes.PlayerSeasons.bySeason(1)">PlayerSeasons</a></li>
        <li><a href="@routes.Matchs.list(0)">Matches</a></li>
        <li class="nav-header">Ref</li>
        <li><a href="@routes.Formations.list(0)">Formations</a></li>
        <li><a href="@routes.Categories.list(0)">Categories</a></li>
        <li><a href="@routes.Scales.list(0)">Scales</a></li>
        <li><a href="@routes.TypMatches.list(0)">TypMatches</a></li>
        <li><a href="@routes.TypCompetitions.list(0)">TypCompetitions</a></li>
        <li><a href="@routes.TypCards.list(0)">TypCards</a></li>
        <li><a href="@routes.Positions.list(0)">Positions</a></li>
        <li><a href="@routes.EventStatuses.list(0)">EventStatuses</a></li>

    </ul>
</div>
