@(message: String, playerForm: Form[Player])

@import helper._
@import tags._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Players.save(), 'class -> "form-horizontal") {

        @inputText(playerForm("id"), '_label -> "Id")
        @inputText(playerForm("firstName"), '_label -> "FirstName")
        @inputText(playerForm("lastName"), '_label -> "LastName")
        @inputText(playerForm("email"), '_label -> "Email")

        <div class="form-actions">
            @btnSubmit("Save this player")
            @btnCancel(routes.Players.list())
        </div>

    }
}