@(message: String, currentPage: Seq[(PlayerSeason, Player, Season, Club)])(implicit flash: play.api.mvc.Flash)



@main(message) {

@Option(currentPage).filterNot(_.isEmpty).map { playerseasons =>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
     <th>Player</th>
     <th>Season</th>
     <th>Club</th>
    </tr>
    </thead>
    <tbody>

     @playerseasons.map {
        case (ps, player, season,  club) => {
    <tr>
        <td><a href="@routes.PlayerSeasons.playerByClubAndSeason(player.id.getOrElse(0), club.id.getOrElse(0), season.id.getOrElse(0))">@player.firstName @player.lastName</a></td>
        <td>@season.name</td>
        <td>@club.name</td>
    </tr>
    }
    }

    </tbody>
</table>

}.getOrElse {

<div class="well">
    <em>Nothing to display</em>
</div>

}
}