@(message: String, placeForm: Form[Place])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(message) {

    @form(routes.Places.save(), 'class -> "form-horizontal") {

        @inputText(placeForm("id"), '_label -> "Id")
        @inputText(placeForm("zipcode"), '_label -> "Code FFF")
        @inputText(placeForm("name"), '_label -> "Nom")

        <div class="form-actions">
            <input type="submit" value="Save this place" class="btn btn-primary">
            <a href="@routes.Places.list()" class="btn">Cancel</a>
        </div>

    }
}