@(message: String, id: Long, placeForm: Form[Place])(implicit flash: play.api.mvc.Flash)

@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.f)
    }

    @scripts ={

        <script type="text/javascript" src='@routes.Assets.at("js/app/controllers/places.js")'></script>

    }

@main(message, scripts) {

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    @form(routes.Places.update(id), 'class -> "form-horizontal") {

        @inputText(placeForm("name"), '_label -> "Nom")
        @inputText(placeForm("address"), '_label -> "Address")
        @inputText(placeForm("zipcode"), '_label -> "Zipcode")
        @inputText(placeForm("city"), '_label -> "City")
        @inputText(placeForm("latitude"), '_label -> "Latitude")
        @inputText(placeForm("longitude"), '_label -> "Longitude")



        <div class="form-actions">
            <input type="submit" value="Save this place" class="btn btn-primary">
            <a href="@routes.Places.view(id)" class="btn">View</a>
            <a href="@routes.Places.list()" class="btn">Cancel</a>
            <a href="@routes.Places.create()" class="btn">New</a>
        </div>

    }
    @placeForm("address").value
    <section ng-controller="PlacesCtrl" style="height:400px;">
        <div class="well" ng-init="address='@placeForm("address").value, @placeForm("zipcode").value @placeForm("city").value'">
        <div class="row">
            <div class="span2"><button id="btnGeo" class="btn" ng-click="codeAddress(address)">Geocode</button></div>
            <div  ui-map="myMap" class="span8 map" ui-options="mapOptions"  ui-event="{'map-click': 'addMarker($event)'}"> </div>
        </div>
        </div>
        @*<pre>{{marker}}</pre>*@

    </section>
}