@(message: String, currentPage: Page[Place], currentOrderBy: Int)(implicit lang:Lang, request: RequestHeader, session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import service.Coach
@import tags._
@import tags.buttons._

        @****************************************
        * Helper generating navigation links *
        ****************************************@
    @link(newPage: Int, newOrderBy: Option[Int] = None) = @{
        routes.Places.list(newPage
            , newOrderBy.map {
                orderBy =>
                    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
            }.getOrElse(currentOrderBy))
    }

        @**********************************
        * Helper generating table headers *
        ***********************************@
    @header(orderBy: Int, title: String) = {
        <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{
            if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"
        }">
            <a href="@link(0, Some(orderBy))">@title</a>
        </th>
    }

@main(message) {

    @Option(currentPage.items).filterNot(_.isEmpty).map { places =>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header(2, "Nom")
                    @header(3, "Adresse")
                    @header(4, "Ville")
                    @header(5, "Zipcode")
                    @header(6, "Type")
                    @* @header(5,"Lat")
                    @header(6,"Long") *@
                </tr>
            </thead>
            <tbody>

            @places.map { place =>
                <tr>
                    <td><a href="@routes.Places.view(place.id.getOrElse(0))">@place.name</a></td>
                    <td>@place.address</td>
                    <td>@place.city</td>
                    <td>@place.zipcode</td>
                    <td>@place.typFff.getOrElse("-")</td>
                    @* <td>@place.latitude.getOrElse(<em>-</em>)</td>
                    <td>@place.longitude.getOrElse(<em>-</em>)</td> *@
                </tr>
            }

            </tbody>
        </table>

        <ul id="pagination" class="pagination">
            @currentPage.prev.map { page =>
                <li class="prev">
                    <a href="@link(page)">&larr; Previous</a>
                </li>
            }.getOrElse {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            }
            <li class="active">
                <a>Displaying @{currentPage.offset + 1} to @(currentPage.offset + places.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
                <li class="next">
                    <a href="@link(page)">Next &rarr;</a>
                </li>
            }.getOrElse {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }

    @session.get("userId").map { userId =>
        <div class="form-actions" display='@models.Roles.isUserInRole(userId.toLong, Set(Coach))'>
        @btnNew(routes.Places.create())
        </div>
    }
}